body {
  font-family: Verdana, Helvetica, sans-serif;
  background-image: url('/images/blackwood.jpg'); 
  background-repeat: repeat;
  color:white;
}
#navigation {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.login {
  margin-left: auto;
  margin-right: auto;
  width: 9em;
}
.link {
	float:left;
}
.mainMessage {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.secondaryMessage {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}