body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #000000;
  color:white;
}
#navigation {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.login {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.link {
	float:left;
}
.mainMessage {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.secondaryMessage {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}