body {
  font-family: Verdana, Helvetica, sans-serif;
  background-image: url('/images/blackwood.jpg'); 
  background-repeat: repeat;
  color:white;
}
#navigation {
  width: 152px;
  height:25px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-color: white;
}
.login {
  margin-left: auto;
  margin-right: auto;
  width: 9em;
}
.link {
	float:left;
  width: 65px;
}
.mainMessage {
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  color:white;
}
.secondaryMessage {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  color:white;
}
.content {
  color:white;
}